
body {
    font-family: "Fjalla One", sans-serif;
    background-color: #05102f !important;
    color: antiquewhite !important;
    min-height: 100vh;
}


#numbers-selected-row {
    padding: 100px;
    background-color: aqua;
    color: blue;
}

#playerform {
    background-color: black;
    padding: 20px;
    border-radius: 20px;
}


#nameRow {
    background-color: black;
    padding: 20px;
    border-radius: 20px;
    
}

.row {
    background-color: #d8b49a;
    padding: 100px;
}

#guess-row {
    background-color: aqua;
    padding: 40px;
}

h1 {
    text-align: center;
}



.players {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #d8b49a;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
    display:flex;
    /* column-gap: 20px; */
    row-gap: 20px;
    

    
}

.player1 {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.player2 {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.player3 {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.player4 {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.player5 {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.player6 {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

h2 {
    margin: 25px;
    color: white;
}

h3 {
    text-align: left;
    display: inline-block;
    margin: 25px;
    color: white;
    
}

p {
    text-align: left;
    display: inline-block;
    margin: 25px;
    color: black;
}

.stage0 {
    max-width: 12vw;
    border: 3px solid black;
}
